body {
    background-image: url("Gray-Wallpaper-60.jpg");
}

.general {
    text-align: center;
    background-color: lightgrey;
    position: relative;
    border: 1px dashed black;
    outline: 3px dashed black;
    padding: 12px;
    font-family: Bahnschrift;
   
}

.REDES {
    text-align: center;
    background-color: darkgray;
    position: relative;
    font-family: 'Comic Sans MS' ;
}
